body 
{
	padding: 0px;
	margin: 0px;

	overflow: hidden;
}

.main-container 
{
	position: absolute;

	width: 100%;
	height: 25%;

	bottom: 0%;

	background-color: rgba(0, 0, 0, 0.729411764706);
}

.close
{
	position: absolute;

	width: 50px;
	height: 50px;

	right: 8px;
	top: 8px;

	color: rgba(245, 245, 245, 0.960784313725);
	background-color: rgba(0, 0, 0, 0.729411764706);
}

.close div
{
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;

	user-select: none;
}

.close:hover
{
	color: rgba(245, 245, 245, 0.298039215686);
}

@media screen and (min-width: 1200px)
{
	.main-container
	{
		height: 32%;
	}
}

@media screen and (min-width: 1921px)
{
	.main-container
	{
		height: 29%;
	}
}