.vehicle-panel
{
	position: absolute;
	display: flex;

	min-width: 15%;
	
	bottom: var(--main-width);
	right: 0%;

	flex-direction: column;
	flex-wrap: nowrap;
	
	justify-content: flex-start;

	margin: 8px;
	padding: 8px 0px;

	background-color: rgba(0, 0, 0, 0.729411764706);
}

.vehicle-panel .heading
{
	display: flex;

	height: 15%;

	padding: 2% 2% 0% 2%;

	color: rgba(245, 245, 245, 0.960784313725);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.3rem;

	align-items: center;
}

.vehicle-panel .heading div
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vehicle-panel .button
{
	flex-grow: 1;

	color:rgba(245, 245, 245, 0.960784313725);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;

	background: none;
	border: none;
}

.vehicle-panel .button:hover
{
	background-color: rgba(240, 240, 240, 0.298039215686);
}