.vehicle-panel {
	position: absolute;
	display: flex;
	top: 32.5%;
	transform: translateY(-50%);
	right: 5%;
	width: 20%;
	height: 40%;
	background-color: rgba(0, 0, 0, 0.729411764706);
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;

}

.vehicle-panel .heading {
	display: flex;
	color: rgba(245, 245, 245, 0.960784313725);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.3em;
	padding: 2% 2% 0% 2%;
	height: 15%;
	align-items: center;
}

.vehicle-panel .button {
	flex-grow: 1;
	background: none;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	color:rgba(245, 245, 245, 0.960784313725);
}

.vehicle-panel .button:hover {
	background-color: rgba(240, 240, 240, 0.298039215686);
}