.vehicle-panel {
	position: absolute;
	display: flex;

	width: 20%;
	height: 40%;

	top: 32.5%;
	right: 5%;

	transform: translateY(-50%);

	flex-direction: column;
	flex-wrap: nowrap;
	
	justify-content: flex-start;

	background-color: rgba(0, 0, 0, 0.729411764706);
}

.vehicle-panel .heading {
	display: flex;

	height: 15%;

	padding: 2% 2% 0% 2%;

	color: rgba(245, 245, 245, 0.960784313725);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.3rem;

	align-items: center;
}

.vehicle-panel .button {
	flex-grow: 1;

	color:rgba(245, 245, 245, 0.960784313725);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;

	background: none;
	border: none;
}

.vehicle-panel .button:hover {
	background-color: rgba(240, 240, 240, 0.298039215686);
}