.widget
{
	display: flex;

	color: rgba(245, 245, 245, 0.960784313725);
	font-family: Arial, Helvetica, sans-serif;

	padding: 0.4rem;

	background-color: rgba(0, 0, 0, 0.729411764706);
}

.widget.bottom
{
	position: absolute;

	bottom: var(--main-width);

	margin: 8px;
}

.widget.bottom.right
{
	right: 0;
}

.widget.label
{
	align-items: center;
	justify-content: center;

	font-size: 2.3rem;
}

.widget.stats
{
	width: 25%;

	flex-direction: column;
	flex-wrap: nowrap;

	font-size: 2.1rem;

	gap: 8px;
}

.widget.select-btn
{
	width: 15%;

	align-items: center;
	justify-content: center;

	font-size: 2.8rem;

	border: none;
}

.widget.select-btn:hover
{
	color: rgba(245, 245, 245, 0.298039215686);
}

@media only screen and (min-width: 768px)
{
	.widget.stats
	{
		width: 12%;
	}
}

@media screen and (min-width: 1000px)
{
	.widget.stats
	{
		width: 27%;
	}
}

@media screen and (min-width: 1200px)
{
	.widget.stats
	{
		width: 25%;
	}
}

@media screen and (min-width: 1440px)
{
	.widget.stats
	{
		width: 18%;
	}
}

@media screen and (min-width: 1921px)
{
	.widget.stats
	{
		width: 13%;
	}
}

@media screen and (min-width: 2561px)
{
	.widget.stats
	{
		width: 14%;

		font-size: 2.5rem;
	}
}